<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Project 1 CSB24</title>
    </head>
    <body>
        <h1>Project 1 CSB24</h1>
        <ul>
            <li><a href="/admin"> Login as Admin</a></li>
        <ul>
            <li><a href="/vulnerable_sql?username=testuser">A03:2021 SQL Injection Example</a></li>
            <li><a href="/secure_sql?username=testuser">A03:2021 SQL Injection Example SOLUTION</a></li>
            <li><a href="/view_user_data/2">A01:2021 Broken Access Control Example</a></li>
            <li><a href="/secure_view_user_data/2">A01:2021 Broken Access Control Example SOLUTION</a></li>
            <li><a href="/non-existing_page">A05:2021 Security Misconfiguration</a></li>
            <li><a href="/view_passwords/">A02:2021 Cryptographic Faliures</a></li>
            <li><a href="/fetch_url?url=http://example.com">A10:2021 Server-Side Request Forgery Example (example.com)</a></li>
            <li><a href="/fetch_url?url=http://127.0.0.1:8000/admin/">A10:2021 Server-Side Request Forgery Example (Admin)</a></li>
            <li><a href="/secure_fetch_url/?url=http://example.com">A10:2021 Server-Side Request Forgery Example (example.com) SOLUTION</a></li>
            <li><a href="/secure_fetch_url?url=http://127.0.0.1:8000/admin/">A10:2021 Server-Side Request Forgery Example (Admin) SOLUTION</a></li>
        </ul>
        <br>
        <h2>Login credentials</h2>
        <h3>Username: admin<br>Password: admin123</h3>
    </body>
</html>